* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    height: 40px;
}

.cabecario {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
}

.formulario {
    height: 120px;
    display: flex;
    font-family: Arial;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    margin-top: 3px;
}

.nome input[type="text"] {
    margin-left: 55px;
}

.rg input[type="text"] {
    margin-left: 70px;
    margin-top: 5px;
}

.cpf input[type="text"] {
    position: absolute;
    margin-left: 111px;
    margin-top: -1px;
}

#cpf {
    margin-left: 242px;
    margin-top: -20px;
    position: absolute;
}

.endereco input[type="text"] {
    margin-left: 35px;
    margin-top: 5px;
}

.sexo select {
    margin-left: 60px;
    margin-top: 5px;
}

.data input[type="text"] {
    position: absolute;
    margin-left: 30px;
    margin-top: -4px;
}

#data {
    margin-left: 242px;
    margin-top: -15px;
    position: absolute;
}

.estado_civil {
    position: absolute;
    margin-top: 8px;
}

.estado_civil_lista input[type=radio] {
    position: absolute;
}

#casado {
    position: absolute;
    margin-top: -15px;
    margin-left: 102px;
}

#solteiro {
    position: absolute;
    margin-top: -15px;
    margin-left: 250px;
}

#viuvo {
    position: absolute;
    margin-top: -15px;
    margin-left: 400px;
}

.botao {
    position: absolute;
    margin-top: 10px;
    margin-left: 210px;
}

.estado_civil_lista label {
    margin: 1.5rem;
}